Flask==3.0.3
Flask-Cors==5.0.0
numpy==2.0.2
pandas==2.2.3
requests==2.32.3
tensorflow==2.18.0  # Or replace with `tflite-runtime` if using TensorFlow Lite only
tqdm==4.66.6
textstat==0.7.4  # Assuming you need this for readability score calculations
scikit-learn==1.5.2
scipy==1.14.1
gunicorn==21.2.0