/* src/App.css */

.app-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;      
  height: 100vh;              
  overflow-x: auto;           /* Enable horizontal scrolling */
  padding: 0 20px;            /* Horizontal padding only */
  scroll-behavior: smooth;

  background-image: url('/public/images/arcade_background.png');
  background-size: auto 101vh;
  background-repeat: no-repeat;
  background-position: 0 0;
  scrollbar-width: none;
}
